.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ChangeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.Delete {
  display: block;
  margin: 6px;
  cursor: pointer;
  color: red;
}
.Change {
  display: block;
  margin: 6px;
  cursor: pointer;
  color: green;
}
.Submit {
  display: block;
  margin: 6px;
  cursor: pointer;
  color: black; 
}

.PublicInfo {
  display: flex;
  align-items: center;
}